@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212121;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bg-slide {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; } /* Move only in the X direction for seamless effect */
}

.animate-bg-slide {
  background-size: 200% auto; /* Ensure seamless tiling */
  animation: bg-slide 10s linear infinite; /* Adjust speed for smooth transition */
}

/* For WebKit Browsers (Chrome, Safari, Opera) */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #2F2F2F; /* or any track color you prefer */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #676767;
  border-radius: 4px;
  /* Optional: add a border or shadow to enhance visibility */
  border: 2px solid #2F2F2F;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #676767 #2F2F2F;
}
